.preview-div {
  border: 1px solid white;
}

.preview-div .line-number {
  color:white;
  display:block;;
}

.preview-div .line-number {
  float:left;
  margin: 0;
  border-right:1px solid;
  text-align:right;
}

.preview-div .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}

.preview-div .cl {
  display:block;
  clear:both;
}
